<% visitor = notification.visitor %>
<% micropost = notification.micropost %>

<div class="user-view clearfix mb-4">
  <%= link_to user_path(notification.visitor) do %>
    <%= gravatar_for visitor, size: 50 %>
  <% end %>
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} )" %></span>
  <br class="mb-0">
  <% if !@comment.nil? %>
    <p class="moderate-font" style="color: #777;">「&nbsp;<%= @comment %>&nbsp;」</p>
  <% end %>
</div>