<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <p><%= @user.name %></p>
        <p><%= @user.major.name %></p>
      </h1>
      <p><i class="far fa-envelope fa-lg">&nbsp;<%= render 'contact' %></i></p>
      <p><i class="fab fa-twitter" style="color:#1da1f2;"></i></p>
      <p><i class="fab fa-instagram" style="color:#e1306c;"></i></p>
      <p><i class="fab fa-line" style="color:#00c300;"></i></p>
      <p><i class="fab fa-facebook-square" style="color:#3b5998;"></i></p>
      <p><i class="fab fa-youtube" style="color:#ff0000;"></i></p>
    </section>
  </aside>
  <div class="col-md-9">
    <% if @user.microposts.any? %>
      <h3>質問 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
