<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <div class="top">
        <div class="pic">
          <%= gravatar_for @user %> 
        </div>
        <div class="name">
          <span class="username"><%= @user.name %></span>
          <span class="usermajor"><%= @user.major.name %></span>
        </div>
      </div>
      <div class="profile">
        <div class="texterea">
          <%= @user.profile %>
        </div>
      </div>
      <div class="sns">
        <p><i class="far fa-envelope fa-lg"></i>&nbsp;<%= render 'contact' %></p>
        <p><i class="fab fa-twitter" style="color:#1da1f2;"></i></p>
        <p><i class="fab fa-instagram" style="color:#e1306c;"></i></p>
        <p><i class="fab fa-line" style="color:#00c300;"></i></p>
        <p><i class="fab fa-facebook-square" style="color:#3b5998;"></i></p>
        <p><i class="fab fa-youtube" style="color:#ff0000;"></i></p>
      </div>
    </section>
  </aside>
  <div class="col-md-9">
    <% if @user.microposts.any? %>
      <h3>質問 (<%= @user.microposts.count %>)</h3>
      <%= render partial: 'shared/feed', locals: { feed_items: @microposts} %>
    <% end %>
  </div>
</div>
