<% provide(:title, "About") %>

<div id="comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<h3>詳細</h3>

<div class="question">
  <div>
    <% if @micropost.solve == true %>
      解決済み
    <% else %>
      未解決
    <% end %>
  </div>
  <div clas="q-info">
    <%= link_to gravatar_for(@micropost.user, size: 25), @micropost.user %>
    <%= link_to @micropost.user.name, @micropost.user %>&emsp;/&emsp;<%= @micropost.user.major.name %>&emsp;/&emsp;
    <%= @micropost.subject %>
  <div class="q-content">
    <%= @micropost.content %>
  </div>
  <div class ="q-pic">
    <%= image_tag @micropost.picture.url if @micropost.picture? %>
  </div>
  <div>
    Posted <%= time_ago_in_words(@micropost.created_at) %> ago.&emsp;
  </div>
  <div>
    <%= link_to("削除", micropost_path(@micropost.id), data: { confirm: "削除しますか？" }, method: :delete) %>&emsp;
  </div>
</div>

<% if current_user == @micropost.user %>
  <div class='solve_button'>
    <% if @micropost.solve == true %>
      <%= button_to 'やっぱりわかんない', solve_path(@micropost), method: :post %>
    <% else %>
      <%= button_to '解決！', solve_path(@micropost), method: :post %>
    <% end %>
  </div>
<% end %>

<% if logged_in? %>
  <%= link_to '回答する', new_micropost_comment_path(@micropost.id), remote: true, class: "btn btn-lg, btn-primary" %>
<% end %>

<hr>
<div class="row">
  <h3 class="text-left title">回答&nbsp;<%= @comments.count %>件</h3>
  <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>

