<% provide(:title, "About") %>

<h1>詳細</h1>

<div class="question">
  <div>
    <% if @micropost.solve == true %>
      解決済み
    <% else %>
      未解決
    <% end %>
  </div>
  <div clas="q-info">
    <%= link_to gravatar_for(@micropost.user, size: 25), @micropost.user %>&nbsp;
    <%= @micropost.user.name %>&emsp;/&emsp;<%= @micropost.user.major.name %>&emsp;/&emsp;
    <%= @micropost.subject %>
  <div class="q-content">
    <%= @micropost.content %>
  </div>
  <div class ="q-pic">
    <%= image_tag @micropost.picture.url if @micropost.picture? %>
  </div>
  <div>
    Posted <%= time_ago_in_words(@micropost.created_at) %> ago.&emsp;
  </div>
</div>
<hr>
<div class="row">
    <ul>
        <li class="comment-create">
            <h3 class="text-left title">コメント&nbsp;<%= @comments.count %>件</h3>
        </li>
        <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </li>
    </ul>
    <% if current_user == @micropost.user %>
      <div class='solve_button'>
        <% if @micropost.solve == true %>
          <%= button_to 'やっぱりわかんない', solve_path(@micropost), method: :post %>
        <% else %>
          <%= button_to '解決！', solve_path(@micropost), method: :post %>
        <% end %>
      </div>
    <% end %>
    <hr>
    <% if logged_in? %>
        <div class="comment-create">
            <h3 class="text-left">コメント投稿</h3>
            <%= render partial: 'comments/form', locals: { comment: @comment, item: @item } %>
        </div>
    <% end %>
</div>

